.resource-info {
  display: flex;
}

.resource-info-scrollable {
  margin: 3rem;
}

.section {
  margin: 3rem;
}

.resource-info {
  display: flex;
}

.resource-info-scrollable {
  margin: 3rem;
}

.img1 {
  display: flex;
  margin: auto;
}

.img2 {
  display: flex;
  margin: auto;
}

.img3 {
  display: flex;
  margin: rauto;
}

.img4 {
  display: flex;
  margin: auto;
}

.img5 {
  display: flex;
  margin: auto;
}

.img6 {
  display: flex;
  margin: auto;
}

.img7 {
  display: flex;
  margin: auto;
}

.img8 {
  display: flex;
  margin: auto;
}

.img9 {
  display: flex;
  margin: auto;
}

.img10 {
  display: flex;
  margin: auto;
}

.Myself {
  display: flex;
  margin: auto;
}

.link {
  display: center;
}

h1 {
  color: blue;
}

p {
  color: black;
}

a {
  color: purple;
}

h2 {
  background-color: greenyellow;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}
