.resource-info {
  display: flex;
}

.resource-info-scrollable {
  margin: 3rem;
}

.section {
  margin: 3rem;
}

.resource-info {
  display: flex;
}

.resource-info-scrollable {
  margin: 3rem;
}

.img {
  display: flex;

}

h2 {
  background-color: greenyellow;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}
